<div class="w-50 mx-auto my-5 p-5 border">
    <h1 class="text-center">Server Info generated server-side using handlebars</h1>
    <div class="ms-5">
        <p>SO: {{so}}</p>
        <p>Node version: {{nodev}}</p>
        <p>Memory rss: {{memrss}}</p>
        <p>CPUs: {{cpus}}</p>
        <p>Argv: {{argv}}</p>
        <p>ExecPath: {{execPath}}</p>
        <p>Process Id: {{pid}}</p>
        <p>Project Path: {{projectpath}}</p>
    </div>
</div>